.container{
    margin: 0 auto;
    padding: 0;
    background-color: black;
    width: 1920px;
    min-height: 761px;
}
.navbar img{
    margin-top: 20px;
    margin-left: 350px;
}
.navbar .regis{
    margin-top: 15px;
    margin-right: 220px;
}
.navbar p{
    margin-top: 15px;
}
.navbar .login{
    margin-left: 370px;
}
.img img{
    width: 343px;
    height: 438px;
    margin-top: 100px;
    margin-left: 200px;
}
.box h1{
    margin-top: -290px;
    margin-left: 550px;
}
.box .olimjon{
    margin-top: -350px;
    margin-left: 580px;
}
.box .button{
    width: 100px;
    border-radius: 10px;
}
.button{
    margin-left: 570px;
}
.menu img{
    width: 1320px;
    height: 640px;
    flex-shrink: 0;
    margin-top: -200px;
}
.tana img{
    width: 1261px;
    height: 900px;
    flex-shrink: 0;
}
.regis h1{
    margin-top: 100px;
    color: #FFF;
    text-align: center;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 49.45px */
}
.regis p{
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 49.45px */
}
.regis h4{
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 49.45px */
}
.btn{
    width: 233px;
    height: 44px;
    margin-top: 20px;
    margin-left: 540px;
    border-radius: 10px;
    background: #4FFFCA;
}
.deposite{
    margin-top: 25px;
    width: 1320px;
    height: 247px;

}